.login-page {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #006f94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  padding: 20px;
  overflow: hidden;
}

.login-page .login-container input {
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  background-color: #FFF;
  padding: 5px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}

.login-page .login-container .btn {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.login-page .login-container .brand {
  font-size: 40px;
  color: #FFF;
  margin-bottom: 25px;
}

.login-page .login-container .login-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.login-page .login-container .login-options a {
  padding: 5px;
  color: #FFF;
  cursor: pointer;
}

.login-page .login-container .login-options a:hover {
  color: #DDD;
}

.login-page .login-container .login-notification {
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 10px;
  font-size: 12px;
  border-left: 5px solid #3498db;
  width: 100%;
  box-sizing: border-box;
}