<nav class="top-navigation">
  <div class="nav-left">
    <a class="nav-item brand">
      NeatJS
    </a>
  </div>
  <div class="nav-right">
    <a class="nav-item">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
    </a>
    <a class="nav-item">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
    <a class="nav-item user-item" (click)="showPopout = !showPopout">
      <div class="popout" *ngIf="showPopout === true">
        <ul>
          <li (click)="authService.logout()">Logout</li>
        </ul>
      </div>
      <img src="{{authService.user.profileimage}}"/>
    </a>
  </div>
</nav>
