.edit-post {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  right: 0;
  bottom: 0;
  height: calc(100vh - 50px);
  width: calc(100vw - 200px);
  background-color: #EEE;
  overflow-y: auto;
}

.edit-post .post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  margin: 15px;
}

.edit-post .post-header h2 {
  margin-left: 20px;
}

.edit-post .post-header a {
  margin-right: 20px;
}

.edit-post .post-title {
  display: flex;
  flex-direction: column;
  margin: 15px;
  position: relative;
}

.edit-post .post-title input {
  border-radius: 0;
  border: none;
  color: #333333;
  padding: 5px 10px;
  font-size: 16px;
  outline: 0;
  text-overflow: ellipsis;
}

.edit-post .post-title .post-permalink {
  display: block;
  font-size: 12px;
  color: #888;
  cursor: pointer;
  padding: 5px;
}

.edit-post .post-title .post-permalink:hover {
  color: #666;
}

.edit-post .post-editor {
  margin: 15px;
  background: #FFF;
}

.publish-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.publish-options-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.publish-options-list li p {
  margin: 0;
}

.publish-options-list li p:last-child {
  font-size: 14px;
  color: #888;
}

.post-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.publish-options-list li img {
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

