<section class="edit-post">
  <div class="notification is-success" [ngClass]="{'notification--visible': showSuccessNotification}" (click)="closeNotification()">
    <p>Post saved</p>
  </div>
  <div class="post-header">
    <h2>{{title}}</h2>
    <a class="btn is-success" *ngIf="this.id !== undefined && this.post._id === null" [routerLink]="['/posts/new']">Add New</a>
    <a class="btn is-success" *ngIf="this.id !== undefined && this.post._id !== null" (click)="updatePost()">Save Changes</a>
    <a class="btn is-success" *ngIf="this.id === undefined" (click)="submitPost()">Create Post</a>
  </div>
  <div class="post-title">
    <input type="text" [(ngModel)]="post.title">
    <span class="post-permalink">http://halasedesign.wpengine.com/hello-world-2/</span>
  </div>
  <div class="post-editor">
    <quill-editor [(ngModel)]="post.content"
              [options]="editorOptions"
              (blur)="onEditorBlured($event)"
              (focus)="onEditorFocused($event)"
              (ready)="onEditorCreated($event)"
              (change)="onContentChanged($event)"></quill-editor>
  </div>
  <div class="post-options">
    <div class="panel post-publish">
      <div class="panel-title">Publish</div>
      <div class="panel-content">
        <ul class="publish-options-list">
          <li>
            Status
            <div class="select-wrapper">
              <select class="dropdown" [(ngModel)]="post.status">
                <option value="Publish">Publish</option>
                <option value="Draft">Draft</option>
              </select>
            </div>
          </li>
          <li>
            Visibility
            <div class="select-wrapper">
              <select class="dropdown" [(ngModel)]="post.visibility">
                <option value="Public">Public</option>
                <option value="Private">Private</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">Information</div>
      <div class="panel-content">
        <ul class="publish-options-list">
          <li>
            <p>Created By</p>
            <p>
              <img src="{{post.createdby ? post.createdby.profileimage : ''}}"/>
              <span>{{post.createdby ? post.createdby.username : ''}}</span>
            </p>
          </li>
          <li>
            <p>Created On</p>
            <p>{{post.createdon | date:'medium'}}</p>
          </li>
          <li>
            <p>Modified By</p>
            <p>
              <img src="{{post.modifiedby ? post.modifiedby.profileimage : ''}}"/>
              <span>{{post.modifiedby ? post.modifiedby.username : ''}}</span>
            </p>
          </li>
          <li>
            <p>Modified On</p>
            <p>{{post.modifiedon | date:'medium'}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
